# Ignore environment variables and batch file
*.env
*.bat

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
*.venv

# VS Code settings
*.vscode

# Mac OSX
*.DS_Store

# coverage.py
*.coverage